.offer-container {
    height: 100vh;
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    width: 100%;
    overflow-x: hidden;
    max-width: 1640px;  
    justify-content: center;  
    flex-wrap: wrap;
    background-color: #e6e4e1;

}
.offer-text{
    margin-top: 50px;
    justify-content: center;
}