.offer-container {
    /* height: 100vh; */
    /* display: flex; */
    flex-direction: row;
    align-items: center;
    width: 100%;
    max-width: 1640px;   
    flex-wrap: wrap;
    max-height: auto;
    margin: 0 auto;
    height: auto;
}

h2 {
    font-size: 40px;
    margin: 0 auto;
    margin-top: 30px;
    padding-left: 4rem;
}
.galery {
    margin:2rem 2rem 2rem 2rem;
    padding: 60px 30px;
    position: relative;
}



