.offer-container {
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    max-width: 1640px;   
    flex-wrap: wrap;
    min-height:auto;
    margin: 0 auto;
}

h2 {
    font-size: 40px;
    margin: 0 auto;
    margin-top: 30px;
}
.galery {
    display: flex;
    margin:1rem 1rem 1rem 1rem;
    padding: 60px 30px;
    position: relative;
}



