.offer-container {
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    overflow-x: hidden;
    max-width: 1640px;  
    /* justify-content: center;   */
    flex-wrap: wrap;
    
    
}

.offer-text{
    margin-top: 50px;
    justify-content: start;
    margin-left: 30px ;
    text-align: center;
}

h2 {
    font-size: 40px;
    text-align: center;
}

.galery {
    max-width: 500px;
    display: flex;
    min-width: 300px;
    flex: 1;
    margin-left: 450px; 
}

@media screen and (max-width: 1040px) {
    .offer-text {
        text-align: center;
    }
    .galery {
        margin:0;
    }
}